[user]
	email = 
	name = 
[init]
  defaultBranch = main
[push]
	default = matching
[core]
	trustctime = false
	editor = v
	filemode = false
	pager = git-split-diffs --color | less -RFX
[color]
	ui = true
[merge]
	tool = vimdiff
[mergetool]
	keeptemporaries = false
	keepbackups = false
	prompt = false
	trustexitcode = false
[rerere]
	enabled = true
[alias]
	st = status -sb
	dc = diff --cached
	a = add
	ap = add .
	aa = add -A
	cm = commit -m
	unstage = reset HEAD --
  undo = reset --soft HEAD~
	co = checkout
	br = branch
	cl = clone
	m = merge
	r = rebase
	rc = rebase --continue
	last = log -1 --stat
	hist = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %Cblue<%an>%Creset' --abbrev-commit --date=relative --all
	
	# git-flow
	
	fi = flow init
	fid = flow init -d
	
	ff = flow finish
	fp = flow publish
	fd = flow delete
	
	ffs = flow feature start
	fff = flow feature finish
	ffp = flow feature publish
	fft = flow feature track

	frs = flow release start
	frf = flow release finish
	frp = flow release publish
	frt = flow release track

	fhs = flow hotfix start
	fhf = flow hotfix finish
	fhp = flow hotfix publish
	fht = flow hotfix track

	fbs = flow bugfix start
	fbf = flow bugfix finish
	fbp = flow bugfix publish
	fbt = flow bugfix track
[credential]
	helper = cache --timeout=36000
