[user]
	email = danilobjr@gmail.com
	name = Danilo Barros
[alias]
	st = status -sb
	dc = diff --cached
	a = add
	ap = add .
	aa = add -A
	cm = commit -m
	co = checkout
	br = branch
	cl = clone
	unstage = reset HEAD --
	last = log -1 --stat
	hist = log --graph --pretty=format:%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %Cblue<%an>%Creset' --abbrev-commit --date=relative --all
	# git-flow
	
[push]
	default = simple
