#define nord0 #2E3440
#define nord1 #3B4252
#define nord2 #434C5E
#define nord3 #4C566A
#define nord4 #D8DEE9
#define nord5 #E5E9F0
#define nord6 #ECEFF4
#define nord7 #8FBCBB
#define nord8 #88C0D0
#define nord9 #81A1C1
#define nord10 #5E81AC
#define nord11 #BF616A
#define nord12 #D08770
#define nord13 #EBCB8B
#define nord14 #A3BE8C
#define nord15 #B48EAD

*.nord0:  nord1
*.nord1:  nord11
*.nord2:  nord14
*.nord3:  nord13
*.nord4:  nord9
*.nord5:  nord15
*.nord6:  nord8
*.nord7:  nord5
*.nord8:  nord3
*.nord9:  nord11
*.nord10: nord14
*.nord11: nord13
*.nord12: nord9
*.nord13: nord15
*.nord14: nord7
*.nord15: nord6

*.foreground:   nord4
*.background:   nord0
*.cursorColor:  nord4
*fading:        35
*fadeColor:     nord3

*.color0:  nord1
*.color1:  nord11
*.color2:  nord14
*.color3:  nord13
*.color4:  nord9
*.color5:  nord15
*.color6:  nord8
*.color7:  nord5
*.color8:  nord3
*.color9:  nord11
*.color10: nord14
*.color11: nord13
*.color12: nord9
*.color13: nord15
*.color14: nord7
*.color15: nord6

! normal settings
! ===============
Xft.dpi: 100
Xft.antialias: true
Xft.rgba: rgb
Xft.hinting: true
Xft.hintstyle: hintslight

! urxvt settings
! ==============

URxvt.perl-ext-common: default,matcher,resize-font

! transparency
!URxvt.background: [80]#000000
!URxvt.depth: 32

! resize font
URxvt.keysym.C-Down:  resize-font:smaller
URxvt.keysym.C-Up:    resize-font:bigger

! url
URxvt.url-launcher: /usr/bin/chromium
URxvt.matcher.button: 1
URxvt.matcher.rend.0: Uline Bold fg5

! other
URxvt.cursorColor: white
URxvt.scrollBar: False
URxvt.saveLines: 1000
URxvt.preeditType: Root

! disable iso14755 for use Ctrl+Shift
URxvt.iso14755: false
URxvt.iso14755_52: false

! normal font
URxvt.font:              xft:CaskaydiaCove Nerd Font Mono:antialias=true:size=12,xft:MesloLGS NF:antialias=true:size=12

! bold font tbd

!URxvt.intensityStyles:  false
!URxvt.font:             9x15,xft:TerminessTTFNerdFontMono,xft:DejaVu Sans Mono:autohint=true:size=12
